body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 5s forwards;
}

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: 10;
}

.loading-text {
  font-size: 36px;
  color: rgba(255, 0, 0, 0.9);
  text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  animation: breathing 1.5s infinite;
}

@keyframes breathing {
  0%,
  100% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
    opacity: 0.8;
  }
  50% {
    text-shadow: 0 0 40px rgba(255, 0, 0, 1);
    opacity: 1;
  }
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: relative;
  z-index: 1;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-name {
  font-size: 24px;
  margin: 10px 0;
  color: rgba(255, 0, 0, 0.9);
  font-weight: bold;
}

.profile-description {
  font-size: 16px;
  color: #666;
  font-family: "Lexend", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  margin-top: 20px;
  z-index: 2;
}

#play-pause-btn {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
}

.progress-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 5px;
}

#progress-bar {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.9);
  cursor: pointer;
}

#progress-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.9);
  cursor: pointer;
}

.volume-container {
  display: flex;
  align-items: column;
  flex-grow: 1;
  margin-left: 10px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 5px;
}

#volume-bar {
  flex-grow: 1;
  margin: 0 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

#progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.9);
  cursor: pointer;
}

#volume-bar::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.9);
  cursor: pointer;
}
